@import "tailwindcss";

:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-gray-100: #ffffff;
  --color-gray-200: #fafafc;
  --color-gray-300: #e2e2e2;
  --color-gray-400: #bebec0;
  --color-gray-500: #9b9b9b;
  --color-gray-700: #303030;
  --color-gray-800: #181818;
  --color-blue-400: #3081fb;
  --color-blue-500: #1960ca;
  --color-yellow-400: #fed85d;
  --color-red-400: #ff4545;
  --color-green-400: #34c759;

  --rounded-xs: 6px;
  --rounded-sm: 12px;
  --rounded-md: 20px;
  --rounded-lg: 32px;
}

@theme inline {
  --color-background: var(--color-gray-200);
  --color-foreground: var(--color-gray-800);
}

body {
  background: var(--color-gray-800);
  color: var(--color-gray-800);
  margin: 0;
  min-height: 100dvh;
}
